<?xml version="1.0"?>
<config>
    <modules>
        <Happytel_ConfigurableSwatches>
            <version>1.0.0</version>
        </Happytel_ConfigurableSwatches>
    </modules>
    <global>
        <helpers>
            <Happytel_ConfigurableSwatches>
                <class>Happytel_ConfigurableSwatches_Helper</class>
            </Happytel_ConfigurableSwatches>
            <configurableswatches>
                <rewrite>
                    <productimg>Happytel_ConfigurableSwatches_Helper_Productimg</productimg>
                </rewrite>
            </configurableswatches>
        </helpers>
    </global>
</config>