<?xml version="1.0"?>
<config>
    <modules>
        <Happytel_Locator>
            <version>1.0.0</version>
        </Happytel_Locator>
    </modules>
    <global>
        <blocks>
            <happytel_locator>
                <class>Happytel_Locator_Block</class>
            </happytel_locator>
            <ak_locator>
                <rewrite>
                    <adminhtml_location>Happytel_Locator_Block_Adminhtml_Location</adminhtml_location>
                </rewrite>
            </ak_locator>
        </blocks>
        <helpers>
            <happytel_locator>
                <class>Happytel_Locator_Helper</class>
            </happytel_locator>
        </helpers>
        <models>
            <happytel_locator>
                <class>Happytel_Locator_Model</class>
                <resourceModel>happytel_locator_resource</resourceModel>
            </happytel_locator>
        </models>
        <resources>
            <happytel_locator_setup>
                <setup>
                    <module>Happytel_Locator</module>
                    <class>Happytel_Locator_Model_Resource_Setup</class>
                </setup>
            </happytel_locator_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Happytel_Locator before="Ak_Locator">Happytel_Locator_Adminhtml</Happytel_Locator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>