<?xml version="1.0"?>
<config>
    <modules>
        <Korifi_CommWeb>
            <version>2.1.0</version>
            <depends>
                <Mage_Payment />
            </depends>
        </Korifi_CommWeb>
    </modules>
    <global>
        <blocks>
            <commWeb>
                <class>Korifi_CommWeb_Block</class>
            </commWeb>
        </blocks>	
    	<models>
    		<commWeb>
	    		<class>Korifi_CommWeb_Model</class>
	    	</commWeb>
    	</models>
    	<helpers>
    		<commWeb>
    			<class>Korifi_CommWeb_Helper</class>
    		</commWeb>
    	</helpers>
        <resources>
            <commWeb_setup>
                <setup>
                    <module>Korifi_CommWeb</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </commWeb_setup>
            <commWeb_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </commWeb_write>
            <commWeb_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </commWeb_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <commweb>
                    <file>korifi/commweb.xml</file>
                </commweb>
            </updates>
        </layout>
        <!--secure_url>
            <migs_hosted>/migs/hosted</migs_hosted>
            <migs_merchant>/migs/merchant</migs_merchant>
        </secure_url-->
        <routers>
            <commweb>
                <use>standard</use>
                <args>
                    <module>Korifi_CommWeb</module>
                    <frontName>commweb</frontName>
                </args>
            </commweb>
        </routers>
	</frontend>
	<default>
        <payment>
            <commWeb>
            	<active>0</active>
            	<model>commWeb/commWeb</model>
            	<username>YOURCOMPANY</username>
            	<password></password>
            	<title>Credit Card (CommWeb)</title>
            	<allowspecific>0</allowspecific>
            	<debug>0</debug>
            	<test>1</test>
            	<cctypes>AE,VI,MC</cctypes>
            	<payment_action>authorize_capture</payment_action>
            </commWeb>
            <commweb_hosted>
            	<active>0</active>
				<model>commWeb/api_hosted</model>
				<vpc_url>https://migs.mastercard.com.au/vpcpay</vpc_url>
				<capture_mode>1</capture_mode>
            	<merchant_id>YOURCOMPANY</merchant_id>
            	<access_code></access_code>
				<secure_secret backend_model="adminhtml/system_config_backend_encrypted"/>
            	<title>Credit Card (Enter Details on Next Page)</title>
            	<allowspecific>0</allowspecific>
            </commweb_hosted>			
        </payment>
    </default>
</config>