<?xml version="1.0"?>
<config>
    <modules>
        <Happytel_ConversionTracking>
            <version>1.0.0</version>
        </Happytel_ConversionTracking>
    </modules>
    <global>
        <helpers>
            <Happytel_ConversionTracking>
                <class>Happytel_ConversionTracking_Helper</class>
            </Happytel_ConversionTracking>
        </helpers>
    </global>
</config>