<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <conversiontracking translate="label">
            <label>Conversion Tracking Code</label>
            <sort_order>100</sort_order>
        </conversiontracking>
    </tabs>
    <sections>
        <conversiontracking translate="label">
            <label>Conversion Tracking Code</label>
            <tab>conversiontracking</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <conversiontracking_group translate="label">
                    <label>Westfield ID</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <conversiontracking_input translate="label">
                            <label>Westfield ID </label>
                            <comment>Input westfield id here</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </conversiontracking_input>
                    </fields>
                </conversiontracking_group>
            </groups>
        </conversiontracking>
    </sections>
</config>