<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Citybeach_Omnivore>
            <version>0.2.0</version>
        </Citybeach_Omnivore>
    </modules>
    <global>
        <models>
            <citybeach_omnivore>
                <class>Citybeach_Omnivore_Model</class>
                <resourceModel>citybeach_omnivore_mysql4</resourceModel>
            </citybeach_omnivore>
            <citybeach_omnivore_mysql4>
                <class>Citybeach_Omnivore_Model_Mysql4</class>
                <entities>
                    <rego>
                        <table>citybeach_omnivore_rego</table>
                    </rego>
                </entities>
            </citybeach_omnivore_mysql4>
        </models>

        <helpers>
            <citybeach_omnivore>
                <class>Citybeach_Omnivore_Helper</class>
            </citybeach_omnivore>
        </helpers>

        <resources>
            <citybeach_omnivore_setup>
                <setup>
                    <module>Citybeach_Omnivore</module>
                    <class>Citybeach_Omnivore_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </citybeach_omnivore_setup>
            <citybeach_omnivore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </citybeach_omnivore_write>
            <citybeach_omnivore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </citybeach_omnivore_read>
        </resources>

    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <citybeach_omnivore before="Mage_Adminhtml">Citybeach_Omnivore_Adminhtml</citybeach_omnivore>
                    </modules>
                </args>
            </adminhtml>
        </routers>

    </admin>

    <adminhtml>
        <layout>
            <updates>
                <citybeach_omnivore module="citybeach_omnivore">
                    <file>omnivore.xml</file>
                </citybeach_omnivore>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers />
        <events />
        <translate />
        <layout />
    </frontend>
    <default>
        <config_vars />
        <payment>
            <omnivorepayment>
                <active>1</active>
                <model>Citybeach_Omnivore_Model_Payment</model>
                <order_status>pending</order_status>
                <title>Omnivore Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </omnivorepayment>
        </payment>
    </default>
</config>
