<?xml version="1.0"?>
<config>
    <modules>
        <Happytel_Newsitemap>
            <version>0.1.0</version>
        </Happytel_Newsitemap>
    </modules>
    <global>
        <models>
            <happytel_newsitemap>
                <class>Happytel_Newsitemap_Model</class>
            </happytel_newsitemap>
            <sitemap>
                <rewrite>
                    <sitemap>Happytel_Newsitemap_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
    </global>
</config>